@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "../../shared.css";

@custom-variant dark (&:is(.dark *));

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
